@import '../../styles/variables.scss';

.footer {
  padding: 40px 0;
  border-top: 4px solid $primary-color;
  min-height: 320px;

  h4 {
    text-transform: uppercase;
    margin-bottom: 12px;
    cursor: default;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 4px 0;
    cursor: pointer;
    color: #666;
  }
}
