@import '../../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;

  .paginator {
    display: flex;
    justify-content: center;
    align-items: center;

    .paginator-button,
    .paginator-button-active,
    .paginator-button-disabled {
      width: 32px;
      height: 32px;
      font-size: 16px;
      background-color: $white-color;
      color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin: 0 4px;
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .paginator-button {
      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }
    .paginator-button-active {
      background-color: $primary-color;
      color: $white-color;
    }

    .paginator-button-disabled {
      color: #aaa;
      filter: grayscale(0.6);
      cursor: default;
    }
  }
}
