// Theme color
$primary-color: #015394;
$dark-primary-color: #02345c;
$secondary-color: #6ba3c1;
$light-primary-color: #d8e7f0;

// Sematic color
$success-color: #33c158;
$warn-color: #ff9e1d;
$info-color: #03c4d8;
$error-color: #f95d5d;

// Other color
$white-color: #fff;
$black-color: #000;
$dim-color: #c8c7cc;
$gray-color: #dadada;
$neutral-color: #f5f5f5;
