@import '../../../styles/variables.scss';

.header {
  background-color: $primary-color;
  color: $white-color;
}

.header-cell {
  font-size: 16px;
  font-weight: 500;
  padding: 6px;
}

.table {
  table {
    width: 100%;
  }
}
