@import '../../../styles/variables.scss';

.error {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02rem;
  color: $error-color;
  padding: 4px 0;
}

.control {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
