@import '../../../styles/variables.scss';

.row {
  background-color: $white-color;

  td {
    padding: 4px;
  }
}

.order-id,
.status,
.total,
.created-at {
  width: 11%;
  text-align: center;
}

.status {
  text-transform: capitalize;
}

.total {
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;
}
