@import '../../../../styles/variables.scss';

.form {
  padding: 20px;
  border: 2px solid $dim-color;
  background-color: $white-color;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .form-group {
    width: 100%;
    margin: 6px 0;
    label {
      font-size: 14px;
      font-weight: 600;
      margin-right: 12px;
      display: block;
      margin-bottom: 8px;
    }

    input {
      padding: 6px 8px;
      border: 1px solid $black-color;
      outline: none;
      width: 100%;
      border-radius: 4px;
      font-size: 16px;

      background-color: $neutral-color;
    }
  }

  .submit-button {
    width: 100%;
    padding: 8px 20px;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease;

    &:hover {
      background-color: #221598;
    }
  }
}

.error {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02rem;
  color: $error-color;
  padding: 4px 0;
}
