@import '../../../../styles/variables.scss';

.navLink {
  padding: 10px 16px;
  position: relative;

  a {
    color: $primary-color;

    &.active {
      font-weight: 500;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        animation: appear linear 0.5s;
        opacity: 0;
        transition: 0.3s ease;
        border-radius: 8px;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .navLink {
    font-size: 14px;
    padding: 10px 8px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
